
# background_color        0.15294117647058825 0.17254901960784313 0.20976470588235294
# custom_background_color 0.15294117647058825 0.17254901960784313 0.20976470588235294
# custom_text_color       0.84705882352941175 0.87058823529411766 0.9117254901960784

# === CATPPUCCIN MACCHIATO === #
background_color           #24273a

text_highlight_color       #eed49f
visual_mark_color          #8087a2

search_highlight_color     #eed49f
link_highlight_color       #8aadf4
synctex_highlight_color    #a6da95

highlight_color_a          #eed49f
highlight_color_b          #a6da95
highlight_color_c          #91d7e3
highlight_color_d          #ee99a0
highlight_color_e          #c6a0f6
highlight_color_f          #ed8796
highlight_color_g          #eed49f


custom_background_color    #24273a
custom_text_color          #cad3f5

ui_text_color              #cad3f5
ui_background_color        #363a4f
ui_selected_text_color     #cad3f5
ui_selected_background_color #5b6078

status_bar_color        0.1803921568627451 0.20192156862745098 0.24798039215686274
status_bar_text_color   0.84705882352941175 0.87058823529411766 0.9117254901960784
status_bar_font_size    12
page_separator_width	4

# === CATPPUCCIN LATTE === #
# background_color           #eff1f5
#
# text_highlight_color       #df8e1d
# visual_mark_color          #8c8fa1
#
# search_highlight_color     #df8e1d
# link_highlight_color       #1e66f5
# synctex_highlight_color    #40a02b
#
# highlight_color_a          #df8e1d
# highlight_color_b          #40a02b
# highlight_color_c          #04a5e5
# highlight_color_d          #e64553
# highlight_color_e          #8839ef
# highlight_color_f          #d20f39
# highlight_color_g          #df8e1d
#
#
# custom_background_color    #eff1f5
# custom_text_color          #4c4f69
#
# ui_text_color              #4c4f69
# ui_background_color        #ccd0da
# ui_selected_text_color     #4c4f69
# ui_selected_background_color #acb0be

should_launch_new_window 1
# should_launch_new_instance 1 # Deprecated

# startup_commands        toggle_custom_color

